*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-family: "Nunito Sans", sans-serif;
}

a,
a:link,
a:visited {
  text-decoration: none;
  outline: none;
}

ul,
li {
  list-style: none;
}

section,
span,
p {
  outline: none;
  border: none;
}
